{% extends 'admin-base.html' %}
<title>Dashboard | EBT-Backpack</title>
{% block admin_content %}
    <!-- Main Content Area -->
        <div class="flex-grow-1 p-4">
            <!-- Page title or breadcrumb -->
            <div class="d-flex justify-content-between align-items-center mb-4">
                <h2>{{title}}</h2>
            </div>

            <!-- Statistics Cards Section -->
            <div class="row">
                <!-- Card for Users -->
                <div class="col-md-4">
                    <div class="card text-bg-primary mb-3">
                        <div class="card-header">Users</div>
                        <div class="card-body">
                            <h5 class="card-title">{{count_user}} Benutzer in der Datenbank</h5>
                        </div>
                    </div>
                </div>
                <!-- Card for News Articles -->
                <div class="col-md-4">
                    <div class="card text-bg-success mb-3">
                        <div class="card-header">Neuigkeiten</div>
                        <div class="card-body">
                            <h5 class="card-title">{{count_news}} Insgesammt hochgeladene Artikel</h5>
                        </div>
                    </div>
                </div>
                <!-- Card for Tools -->
                <div class="col-md-4">
                    <div class="card text-bg-secondary mb-3">
                        <div class="card-header">Tools</div>
                        <div class="card-body">
                            <h5 class="card-title">{{count_tools}} Erstellte Tools</h5>
                        </div>
                    </div>
                </div>

                <!-- Card for Tool Categories -->
                <div class="col-md-4">
                    <div class="card text-bg mb-3" style="background-color: #ffa52f;">
                        <div class="card-header">Tool Kategorien</div>
                        <div class="card-body">
                            <h5 class="card-title">{{count_categroies}} Tool Kategorien</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}